main {
  display: flex;
  margin-top: 1rem;
}

aside {
  padding: 1rem;
  border: 1px solid #efefef;
  border-radius: 4px;
  max-width: 250px;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

details {
  padding: 0.5rem 0;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

summary::after {
  content: ">";
  color: #f54985;
  rotate: 90deg;
  font-size: 1.5rem;
}

details[open] > summary::after {
  content: ">";
  rotate: -90deg;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.filter > li {
  display: flex;
  flex: 1 1 calc(50% - 0.5rem);
}

input[type="checkbox"]:checked {
  accent-color: #f54985;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.rating label {
  font-size: 1.5rem;
  color: rgb(206, 206, 57);
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 1rem;
  justify-content: space-between;
}

.list > .item {
  flex: 0 1 clamp(200px, 30vw, 300px);
  padding: 1rem;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
}

.list > .item > img {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 4px;
}
